{% extends "base.html" %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}

        {% if ok %}

            <div class="jumbotron container" style="text-align : center;">
                <h1>Succes</h1>
                <p class="lead">Your account was modified</p>
            </div>

        {% else %}

            <div class="container">
                <div class="raw" style="margin-top : 100px; background : white; border-radius : 1em; padding : 1em;">

                    {% if error %}

                        <h1 style="text-align : center; color : red;">Error : Your account wasn't change</h1>

                    {% endif %}

                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group" style="margin : 1em;">
                            <label class="col-sm-2 control-label">First name</label>
                            <div class="col-sm-10">
                                {{ form.firstname }}
                            </div>
                        </div>
                        <div class="form-group" style="margin : 1em;">
                            <label class="col-sm-2 control-label">Last name</label>
                            <div class="col-sm-10">
                                {{ form.lastname }}
                            </div>
                        </div>
                        <div class="form-group" style="margin : 1em;">
                            <label class="col-sm-2 control-label">email</label>
                            <div class="col-sm-10">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group" style="margin : 1em;">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        {% endif %}

    {% else %}

        <div class="jumbotron container" style="text-align : center;">
            <h1>Error</h1>
            <p class="lead">You have to be loggin to access at this page</p>
        </div>

    {% endif %}

{% endblock %}
